*{
  padding: 0;
  margin: 0;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.circle{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #929293;
  margin-right: 3px;
}
.circle1{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #929293;
  background: #929293;
}
.tri{
  width: 0px;
  height: 0px;
  border-bottom: 40px solid;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: relative;
  color: red;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.wrap{
  width: 1280px;
  height: 700px;
  margin: 0 auto;
}
.nav{
  height: 55px;
  background: #fff;
  margin: 15px 0 15px 60px;
}
.nav img{
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-left: -20px;
}
.nav p{
  color: #393a3a;
  font-size: 21px;
  font-family: "黑体";
}
.nav ul{
  float: right;
}
.nav ul li{
  float: left;
  margin-right: 30px;
}
.nav ul li a {
  font-size: 14px;
  font-family: "微软雅黑";
  color: #b5b7bb;
}
.nav ul li.active a{
  color: #ea6f6e;
  border-bottom: 2px solid #e74f4d;
}
.nav span{
  margin-right: 60px;
  color: #e9605e;
  font-size: 14px;
}
.nav span img{
  width: 20px;
  height: 20px;
  margin-top: 1px;
  position: absolute;
}

.banner .bgimg{
  position: relative;
}
.banner img{
  width: 100%;
}
.banner p{
  position: absolute;
  top: 40%;
  left: 80px;
  font-size: 60px;
  color: #fff;
  font-family: "微软雅黑";
}
.banner span{
  font-size: 21px;
}
.banner b{
  font-size: 30px;
  color: #fff;
  position: relative;
  width: 330px;
  height: 60px;
  background: #e74f4d;
  padding: 20px 100px;
}
.row1{
  width: 1280px;
  height: 250px;
}
.row1 div{
  width: 25%;
  height: 250px;
  float: left;
}
.row1 img{
  width: 42px;
  height: 42px;
  margin: 50px 140px;
  position: relative;
}
.row1 p{
  font-size: 14px;
  color: #767777;
  font-family: "黑体";
  text-align: center;
  left: 75px;
  height: 50px;
  position: relative;
  width: 160px;
  border-right: 2px solid #767777;
  padding-right: 75px;
}

.row2{
  height: 360px;
  width: 100%;
  position: relative;
  background: #edecec;
}
.row2 img{
  width: 92px;
  height: 92px;
  margin: 90px 590px 50px 590px;
}
.row2 p{
  font-size: 53.59px;
  font-family: "黑体";
  color: #a1a1a1;
  text-align: center;
}

.row3{
  width: 100%;
  height: 340px;
  position: relative;
}
.row3 .bg{
  width: 100%;
  height: 340px;
}
.row3 .bg .text{
  text-align: center;
  padding-top: 55px;
}
.row3 p{
  font-size: 21px;
  font-family: "微软雅黑";
  color: #fff;
  padding-bottom: 20px;
}
.row3 b{
  font-weight: normal;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}
.row3 span{
  font-size: 12px;
  font-family: "微软雅黑";
  color: #fff;
}

.row3 .country{
  width: 235px;
  height: 35px;
  overflow: hidden;
  background: url(../img/red-down.png) no-repeat right;
  background-color: #fff;
  background-size: 18px 18px;
  float: left;
  margin-left: 125px;
  margin-top: 50px;
}
.row3 .city{
  margin-left: 20px;
}
.row3 .country select{
  width: 255px;
  height: 100%;
  padding-left: 10px;
  border: 1px solid #ccc;
  background: transparent;
  color: #d9dada;
}
.row3 .search{
  padding: 0px 10px;
  background: red;
  float: left;
  text-align: center;
  color: #fff;
  margin-left: 20px;
}

.row4 {
  width: 100%;
  height: 606px;
  background: #f7f7f7;
  margin-right: 150px;
}
.row4 div{
  width: 220px;
  height: 390px;
  float: left;
  left: 150px;
  position: relative;
  margin-right: 30px;
  margin-top: 100px;
  background: #fff;
}
.row4 img{
  width: 200px;
  height: 310px;
  padding: 10px;
}
.row4 p{
  font-size: 12px;
  font-family: "微软雅黑";
  color: #636464;
  text-align: center;
  background: #f7f7f7;
  padding-bottom: 30px;
  font-weight: bold;
}
.row4 span{
  font-size: 12px;
  font-family: "微软雅黑";
  color: #dadadb;
  font-weight: normal;
}
.row4 .shanghai p{
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 0px;
}

.row5{
  width: 100%;
  position: relative;
}
.row5-2{
  width: 100%;
  display: inline-block;
}
.row5-2 .row5-2-left{
  width: 70%;
  height: 566px;
  background-image: url(../img/row5-img1.png);
  background-size: cover;
  font-family: "微软雅黑";
  color: #fff;
  text-align: center;
  float: left;
}
.row5-2 .row5-2-left p{
  font-size: 49.47px;
  padding-top: 120px;
}
.row5-2 .row5-2-left span{
  font-size: 157.79px;
  top: -40px;
  position: relative;
}
.row5-2 .row5-2-left b{
  font-size: 21.91px;
  position: relative;
  top: -30px;
}
.row5-2 .row5-2-right{
  width: 30%;
  height: 566px;
  background: #ffffff;
  float: left;
  text-align: center;
}
.row5-2 .row5-2-right .txt1{
  width: 289px;
  height: 273px;
  position: relative;
  margin: 150px auto;
}
.row5-2 .btn1{
  border:1px solid #e46669;
  width:105px;
  color:#e46669;
  margin: 0 auto;
  font-size: 12px;
  padding:5px 0;
  margin-top: 20px;
}
.row5-2 .circle3{
  position: relative;
  left: 43%;
  margin-top: 20px;
}
.row5-2 .tri{
  margin-left: -87px;
  color: #fff;
}
.row5-3{
  width: 100%;
  height: 521px;
  position: relative;
  margin-top: -10px;
}
.row5-3 .row5-3-left{
  width: 35%;
  height: 521px;
  float: left;
  background-color: #e74f4d;
}
.row5-3 .row5-3-middle{
  width: 35%;
  height: 521px;
  float: left;
  background-color: #fff;
}
.row5-3 .row5-3-right{
  width: 30%;
  height: 521px;
  float: left;
  background-image: url(../img/row5-img2.png);
  background-size: cover;
}
.row5-3 .txt2{
  margin: 150px auto;
}
.row5-3 .row5-3-left p{
  font-size: 21px;
  color: #fff;
  font-family: "黑体";
  text-align: center;
  margin-bottom: 50px;
  line-height: 40px;
}
.row5-3 .row5-3-left b{
  border-bottom: 2px solid #fff;
  font-weight: normal;
  padding-bottom: 20px;
}
.row5-3 .btn2{
  width: 85px;
  border: 1px solid #fff;
  color: #fff;
  margin: 0 auto;
  padding: 5px 40px;
  font-size: 21px;
}
.row5-3 .row5-3-middle p{
  font-size: 21px;
  color: #323333;
  font-family: "黑体";
  text-align: center;
  margin-bottom: 50px;
  line-height: 40px;
}
.row5-3 .row5-3-middle b{
  border-bottom: 2px solid #aaaaaa;
  font-weight: normal;
  padding-bottom: 20px;
}
.row5-3 .btn3{
  width: 85px;
  border: 1px solid #e95a58;
  color: #e95a58;
  margin: 0 auto;
  padding: 5px 40px;
  font-size: 21px;
}
.row5-3 .tri{
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 0;
  position: relative;
  margin: 0 0 0 448px;
  color: #fff;
}

.row6{
  width: 100%;
  height: 600px;
  position: relative;
}
.row6 .bg{
  width: 1005px;
  height: 467px;
  position: relative;
  margin: 120px 139px 165px 138px;

}
.row6 .txt3{
  height: 183px;
  text-align: center;
}
.row6 .txt3 p{
  font-size: 21px;
  font-family: "黑体";
  color: #323333;
  padding-bottom: 20px;
}
.row6 .txt3 b{
  font-weight: normal;
  border-bottom: 2px solid #ea6563;
  padding-bottom: 10px;
}
.row6 .txt3 span{
  font-size: 12px;
  font-family: "微软雅黑";
  color: #aaaaaa;
}
.row6 .txt4{
  height: 285px;
  width: 100%;
  position: relative;
}
.row6 .left{
  width: 290px;
}
.row6 .left p{
  font-size: 16px;
  font-family: "微软雅黑";
  color: #74706f;
  line-height: 20px;
  margin-bottom: 10px;
}
.row6 .left span{
  color: #9d9b9a;
  font-size: 12px;
}
.row6 .left .tri-down{
  font-size: 12px;
  color: #aaaaaa;
  margin-right: 10px;
}
.row6 .right{
  width: 641px;
  height: 100%;
  position: relative;
}
.row6 .right td p{
    margin-right: 20px;
}
.row6 .right td{
  width: 310px;
  height: 43px;
  background: #ededef;
  color: #8d8a8a;
  font-size: 12px;
  font-family: "微软雅黑";
  position: relative;
}
.row6 .right .sub1{
  width: 641px;
  height: 40px;
}


.footer {
  width: 100%;
  height: 417px;
  background-color: #32363e;
  position: relative;
}
.footer .txt5{
  width: 100%;
  height: 359px;
  text-align: center;
  color: #fff;
}
.footer .txt5 p{
  font-size: 21px;
  font-family: "黑体";
  padding-top: 60px;
}
.footer .txt5 span{
  font-size: 12px;
  font-family: "宋体";
}
.footer .txt5 form{
  margin-top: 20px;
}
.footer .txt5 .txt6{
  width: 432px;
  height: 43px;
}
.footer .txt5 .sub2{
  padding: 12.8px;
  background-color: #6f7178;
  color: #fff;
}
.footer .txt5 i{
  margin: 20px 10px 0 0 ;
}
.footer .footer2{
  width: 100%;
  height: 58px;
  position: relative;
  background-color: #2f3039;
}
.footer .footer2 p{
  font-size: 12px;
  color: #fff;
}
.footer .footer2 .fl{
  top: 20px;
  position: relative;
  left: 80px;
}
.footer .footer2 .fr{
  top: 20px;
  position: relative;
  right: 50px;
}
