*{
  margin: 0;
  padding: 0;
}
body{
  background: #eee;
}

.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix{
  zoom:1;
}
.clearfix:after{
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  font-size: 0;
  clear: both;
}

.header{
width: 100%;
height: 60px;
background: #333333;
}
.header .logo{
  background: #333333;
  width: 80px;

}
.header .logo img{
  height: 60px;
  position: absolute;
}
.header a{
  text-decoration: none;
  color: #e2eaed;
}
.header a.gray{
  color: gray;
}
.header li{
   float: left;
   margin: 20px;
   font-size: 10px;
   line-height: 10px;
   width: 60px;
   height: 12px;
}

.main{
  border: 1px solid #9f9f9f;
  margin: 20px;
  background:#ffffff;
  box-shadow: 1px 1px #9f9f9f;
}
.main .content{
  margin: 20px;
  text-align: left;
  line-height: 30px;
  font-size: 14px;
  font-weight:  bold;
}
.main h2,span{
  color: gray;
  line-height: 30px;
}
.main p{
  text-indent: 30px;
}
.main ul li{
  list-style: none;
}
.main p{
  font-size: 12px;
  font-weight: normal;
}
.main .image {
  width: 120px;
  height: 120px;
  border:1px solid #ccc;
  position: relative;
  margin: 20px;
}
.main .image img{
  width: 100px;
  height: 80px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.main ol{
  position: relative;;
  left:50px;
}
.main .table1{
  width: 100%;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}
.main .table1 tr th{
  background: #333333;
  color: #fef1ff;
}
.main .table1 tr td{
border-left: 1px solid gray;
border-top: 1px solid gray;
}
.main .content .slider span{
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.main p.slider{
  border-left: 3px solid #ccc;
}
.main .table2{
  margin:20px;
  left: 280px;
  position: relative;
}
.tr{
  text-align: right;
}
.tl{
  text-align: left;
}
.main .table2 tr .zhushi{
    font-size: 12px;
    color: gray;
}
.main .submit1{
  width: 100%;
  height: 50px;
  border: 1px solid #3355d0;
  border-radius: 10px;
  background: #3355d0;
  color: #ddeffb;
  font-size: 14px;
  font-weight: bold;
}
#footer{
  background-color: black;
  color: white;
  height: 50px;
  font-size: 12px;
  width: 100%;
}
#footer p{
text-align: center;
padding: 15px 5px;
}


.slider-bar{
  position: relative;
  width: 200px;
}
